<div class="mb-2">
  <label for="">Select Category</label>
  <select class="form-select " name="category" id="cat" [(ngModel)]="selectedCatID">
    <option value="0">All Categories</option>
    <option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.Name}}</option>
  </select>
</div>



<!-- <app-product [recivedcatid]="selectedCatID" (ArrayOfCart)="addtocart($event)" (CountChanged)="OnCountChanged($event)" (totalPriceChanged)="TotalPriceChanged($event)"    (SendingProduct)="ProductsFromChild($event)"></app-product> -->
<app-product [recivedcatid]="selectedCatID" (ArrayOfCart)="addtocart($event)"></app-product>


<table class="table m-2">
  <thead class="bg-dark text-light">
    <tr>
      <th scope="col">NO</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Total</th> -->
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let cart of carts;let i=index; ">
      <tr>
        <td>{{i+1}}</td>
        <td>{{cart.product.name}}</td>
        <td><img [src]="cart.product.imgURL" width="150" height="150" class="rounded" alt=""></td>
        <td>{{cart.count}}</td>
        <td>{{cart.product.price * cart.count}}</td>
        <!-- There Is A Bug Here Fix It  -->
      </tr>

    </ng-container>

  </tbody>
</table>
<div class=" justify-content-center text-center w-100">
  <button class="btn btn-success " (click)="CalcCheck()">Want know Check ?</button>
  <h2 class="m-auto fs-3 align-items-center bg-dark text-white w-25 mt-2 mb-2">{{TotalPriceCarts}}$ </h2>
</div>
